body{
    margin: 0;
    margin-top: 50px;
    padding: 20px;
    align-items: center;
}

.Dropdown{
    text-align:  center;
    align-items:  center;
    width: 100%;
    padding: 2px;
    display: inline-block;
    border-radius: 3px;
    position: relative;

}

.Dropdown input {
    text-align:  center;
    align-items:  center;
    width: 100%;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 3px;
}

.Dropdown ul li:hover {
    background-color: lightcyan; 
}

.Dropdown ul li {
    padding: 8px 16px;
}


.Dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    width: 100%;
}

.Dropdown-content {
    text-align:  center;
    align-items:  center;
    width: 100%;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 3px;
    z-index: 1;
}

.show-color-in-circle {
    height: 40px;
    width: 40px;
    background-color: DarkSalmon;
    border-radius: 50%;
    display: none;

}